In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.metrics import *
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dr=pd.read_csv("drug.csv")
dr

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  drugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  drugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [ ]:
dr.shape

(200, 6)

In [ ]:
dr.describe

<bound method NDFrame.describe of      Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  drugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  drugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]>

In [ ]:
dr.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [ ]:
drug_mapping = {
    "drugY": "Furosemide",   # یا "Hydrochlorothiazide"
    "drugA": "Atenolol",
    "drugB": "Atenolol",
    "drugC": "Lisinopril",
    "drugX": "Lisinopril"
}

In [ ]:
x=dr[["Age","Sex","BP","Cholesterol","Na_to_K"]].values
x[0:5]

array([[23, 'F', 'HIGH', 'HIGH', 25.355],
       [47, 'M', 'LOW', 'HIGH', 13.093],
       [47, 'M', 'LOW', 'HIGH', 10.114],
       [28, 'F', 'NORMAL', 'HIGH', 7.798],
       [61, 'F', 'LOW', 'HIGH', 18.043]], dtype=object)

In [ ]:
y=dr["Drug"]
y[0:5]

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

In [ ]:
from sklearn import preprocessing
la_sex=preprocessing.LabelEncoder()
la_sex.fit(["F","M"])
gender=x[: ,1]=la_sex.transform(x[: ,1])

la_BP=preprocessing.LabelEncoder()
la_BP.fit(["HIGH","LOW","NORMAL"])
x[: ,2]=la_BP.transform(x[: ,2])

la_ch=preprocessing.LabelEncoder()
la_ch.fit(["HIGH","NORMAL"])
x[: ,3]=la_ch.transform(x[: ,3])

x[0:5]

array([[23, 0, 0, 0, 25.355],
       [47, 1, 1, 0, 13.093],
       [47, 1, 1, 0, 10.114],
       [28, 0, 2, 0, 7.798],
       [61, 0, 1, 0, 18.043]], dtype=object)

In [ ]:
x_train,x_test,y_train,y_test=train_test=train_test_split(x,y,test_size=0.3,random_state=4)

In [ ]:
drugtree=DecisionTreeClassifier(criterion="entropy",max_depth=4)

In [ ]:
drugtree.fit(x_train , y_train)
predtree=drugtree.predict(x_test)

In [ ]:
print(y_test[0:5])
print(predtree[0:5])

11     drugY
99     drugY
128    drugY
175    drugY
1      drugC
Name: Drug, dtype: object
['drugY' 'drugY' 'drugY' 'drugY' 'drugC']

In [ ]:
# from sklearn.model_selection import cross_val_score
# c= cross_val_score(drugtree,x,y,cv=5)
# c
# c.mean()

In [ ]:
from sklearn import metrics

In [ ]:
print("accuracy:",metrics.accuracy_score(y_test,predtree))

accuracy: 0.9666666666666667

In [ ]:
import tkinter
from tkinter import*
def calc_result():

    age = int(age_txt.get())
    g = int(g_txt.get())
    bp = int(bp_txt.get())
    ch = int(ch_txt.get())
    na = float(na_txt.get())

    dr_input = np.array([[age, g, bp, ch, na]])
    predicted_drug = drugtree.predict(dr_input)[0] # مقدار پیش‌بینی‌شده

    # تعریف نگاشت اسم‌های مستعار به واقعی
    drug_mapping = {
        "drugY": "Furosemide", # یا Hydrochlorothiazide
        "drugA": "Atenolol",
        "drugB": "Metoprolol",
        "drugC": "Lisinopril",
        "drugX": "Atorvastatin"
    }

    # جایگزینی نام مستعار با نام واقعی
    real_drug_name = drug_mapping.get(predicted_drug, predicted_drug)

    # نمایش نام داروی واقعی در پنجره
    result.configure(text=real_drug_name)



win= Tk()
win.geometry("350x370")
Label(win, text= "Age" ).place(x=30,y=30)
age_txt=Entry(win)
age_txt.place(x=130,y=30)
Label(win,text="Gender").place(x=30,y=80)
g_txt=Entry(win)
g_txt.place(x=130,y=80)
Label(win, text="BP").place(x=30, y=130)
bp_txt=Entry(win)
bp_txt.place(x=130,y=130)
Label(win,text="Chlo").place(x=30,y=180)
ch_txt=Entry(win)
ch_txt.place(x=130,y=180)
Label(win,text="Na").place(x=30,y=230)
na_txt=Entry(win)
na_txt.place(x=130,y=230)
na_txt=Entry(win)
na_txt.place(x=130,y=230)
Button(win, text="enter",width=18,command=calc_result).place(x=100,y=280)
result=Label(win,width=18,bg="yellow")
result.place(x=100,y=320)
win.mainloop()